    <div class="container-fulid bgColor">
    <nav class="navbar navbar-expand-lg bg-body-Light">
        <div class="container-fluid">
            <div class="dropdown">
                <button class="btn btn-light" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="badge badgeTop">Q</span> Quail Creek HOA <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down DownArrow"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6" /></svg>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#"><i class="fa fa-search"
                                aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-bell-o position-relative" aria-hidden="true">
                            
                        <span class="position-absolute translate-middle bg-danger border border-light rounded-circle redDot">
                            <span class="visually-hidden">New alerts</span>
                          </span>
                            </i>
                        </a>
                    </li>
                    <li class="nav-item Last-i-b">
                        <span class="badge badge1">B</span><i class="fa fa-angle-down"
                            aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="">
       <app-list></app-list>
    </div>
    
</div>

<router-outlet />